[Desktop Entry]
Name=UMPC Display Scaler
Exec=umpc-display-scaler
Icon=user-desktop
Terminal=false
Type=Application
Categories=GTK;Settings;
StartupNotify=false
OnlyShowIn=MATE;
NoDisplay=true
Comment=Scale up the internal display on UMPC laptops. Disable this Startup Program and log out to restore the native resolution.