[Desktop Entry]
Type=Application
Name=Display Scaler
Comment=Toggle fractional scaling for UMPC internal displays
Keywords=UMPC;display;screen;scaling;
Icon=preferences-desktop-display
Exec=umpc-display-scaler
OnlyShowIn=MATE;XFCE;
Terminal=false
Categories=GTK;Settings;HardwareSettings;
StartupNotify=false
X-MATE-Autostart-Phase=Application
X-MATE-Autostart-Notify=false
